---
---

@import "{{ site.theme }}";

body {
  background-color: #fff;
  padding:50px;
  font: 14px/1.5 "Roboto", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#727272;
  font-weight:400;
}

h1 {
  margin:0 0 30px;
}
