---
---

@import "{{ site.theme }}";

body {
  background-color: #fff;
  padding:50px;
  font: 18px/1.5 "Roboto", sans-serif;
  color: black;
  font-weight:400;
}

h1 {
  font-size:36px;
  margin:0 0 40px;
}


h2 {
  margin: 40px 0 20px 0;
}


hr {
  margin:0 0 40px;
}

.wrapper {
  width: 60%;
  margin:0 auto;
}
